.banner {
  grid-area: banner;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--black-color);
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

.banner__title {
  text-shadow: rgba(0, 80, 157, 0.4) 5px 5px,
    rgba(0, 80, 157, 0.3) 10px 10px,
    rgba(0, 80, 157, 0.2) 15px 15px,
    rgba(0, 80, 157, 0.1) 20px 20px,
    rgba(0, 80, 157, 0.05) 25px 25px;
}